<div style="display: @Model.Guest">
    <main>
        <div class="jumbotron mt-3 chushka-bg-color">
            <h1>Welcome to Chushka Universal Web Shop</h1>
            <hr class="bg-white" />
            <h3><a class="nav-link-dark" href="Users/Login">Login</a> if you have an account.</h3>
            <h3><a class="nav-link-dark" href="Users/Register">Register</a> if you don't.</h3>
        </div>
    </main>
</div>
<div style="display: @Model.User">
    <main class="mt-3 mb-5">
        <div class="container-fluid text-center">
            <h2>Greetings, @Model.Username!</h2>
            <h4>Feel free to view and order any of our products.</h4>
        </div>
        <hr class="hr-2 bg-dark" />
    </main>
</div>
<div style="display: @Model.Admin">
    <main class="mt-3 mb-5">
        <div class="container-fluid text-center">
            <h2>Greetings, admin!</h2>
            <h4>Feel free to view and order any of our products.</h4>
        </div>
        <hr class="hr-2 bg-dark" />
        <div class="container-fluid product-holder">
            @Model.Collection.ProductRows(@Item)
        </div>
    </main>
</div>