@{
    ViewData["Title"] = "Home Page";
}

<h1>My Library</h1>
<a asp-area="" asp-controller="Book" asp-action="Add" class="btn btn-success">Add new book</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
</table>