@using MyLibrary.ViewModels
@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>My Library</h1>
<a asp-controller="Book" asp-action="Add" class="btn btn-success">
    <i class="glyphicon glyphicon-plus"></i> Add new book
</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a>
                </td>
                <td>
                    @book.Author
                </td>
                <td>@book.Status</td>
            </tr>
        }
    </tbody>
</table>