<div class="container">
    <div class="row">
        <div class="col col-md-10 mr-auto ml-auto">
            <br />
            <div class="card border-primary mb-3">
                <div class="card-body text-primary">
                    <h4 class="card-title">New post</h4>
                    <p class="card-text">
                        Any relevant post to the forum
                    </p>
                </div>
                <div class="card-footer bg-transparent text-right">
                    <span class="text-muted">
                        Created on 12.10.2017 by
                        <em>
                            <strong>pesho@test.com</strong>
                        </em>
                    </span>
                </div>
            </div>
            <div class="card border-primary mb-3">
                <div class="card-body text-primary">
                    <h4 class="card-title">New post</h4>
                    <p class="card-text">
                        Any relevant post to the forum
                    </p>
                </div>
                <div class="card-footer bg-transparent text-right">
                    <span class="text-muted">
                        Created on 12.10.2017 by
                        <em>
                            <strong>pesho@test.com</strong>
                        </em>
                    </span>
                </div>
            </div>
            <div class="card border-primary mb-3">
                <div class="card-body text-primary">
                    <h4 class="card-title">New post</h4>
                    <p class="card-text">
                        Any relevant post to the forum
                    </p>
                </div>
                <div class="card-footer bg-transparent text-right">
                    <span class="text-muted">
                        Created on 12.10.2017 by
                        <em>
                            <strong>pesho@test.com</strong>
                        </em>
                    </span>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
