@using FDMC.Models;
@model IEnumerable<Cat>

@{
    ViewData["Title"] = "Home";
}

<h1>Fluffy Dyffy Munchkin Cats</h1>

<ul>
    @foreach (var cat in Model)
    {
        <li>
            <a asp-controller="Cat" asp-action="Details" asp-route-id="@cat.Id">@cat.Name</a>
        </li>
        
    }
</ul>
<a asp-action="Add" asp-controller="Cat">Add Cat</a>