<tr class="row">
    <th class="col-md-1">@Model.Index</th>
    <td class="col-md-5">@Model.Name</td>
    <td class="col-md-1">@Model.ChannelType</td>
    <td class="col-md-2">@Model.FollowersCount</td>
    <td class="col-md-2">
        <div class="button-holder d-flex justify-content-between">
            <a href="/channels/unfollow/?channelId=@Model.ChannelId" class="btn bg-mishmash text-white">Unfollow</a>
            <a href="/channels/details/?channelId=@Model.ChannelId" class="btn bg-mishmash text-white">Details</a>
        </div>
    </td>
</tr>