@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "PT sans", sans-serif;
    font-size: 24px;
    color: #234465;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex-wrap: wrap;
}
#main{   
    background: url(images/background.png) no-repeat center center;
    height: 100vh; 
}
#navigation{
    background: #234465;
    display: inline-block;
    padding: 0.5rem;
    width: 100%;
}
#navigation-text{
    display: inline-block;
}
#lecture-name, #problem-name{
    font-family: "Lato", sans-serif;
    color: white;
    font-weight: bold;
}
#lecture-name{    
    font-size: 28px;    
    margin-bottom: 0.8rem;    
}
#problem-name{    
    font-size: 22px;
    color: white;    
}
#logo-img{
    width: 17%;
    float: right;
    padding: 0.5rem 0.5rem 0 0;
}
#softUni-person-img{
    width: 30%;
    padding: 0;
    float: left;    
}
#exercise{   
    width: 70%;
    float: left;
    padding: 1rem 0 1rem 1rem;
}
main:after{
    display: block;
    content:'';
    clear: both;
}

input[type="button"], button{
    padding: 0.3rem 0.5rem;
    font-size: 0.7em;
    margin: 1rem 0 1rem 0;
    border: none;
    color: white;
    background: #234465;
    border-radius: 5px;
    outline: none;
}

ol li{
    border-bottom:1px solid #234465;
    color: #234465;
    font-size:24px;
}

h1{
    text-align: center;
}

#exercise div{
    border: 2px solid #234465;
    margin-top:2%;
	margin-left: 2%;
}

input, button{
    font-size: 24px;
    margin: 0 auto;
	margin-left: 2%;
}




